<div>
    <h2 data-translate="thepellestoreApp.menu.home.title">Menus</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="menu.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="thepellestoreApp.menu.home.createLabel">
                        Create new Menu
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'thepellestoreApp.menu.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="thepellestoreApp.menu.menu_name">Menu Name</span></th>
                    <th><span data-translate="thepellestoreApp.menu.description">Description</span></th>
                    <th><span data-translate="thepellestoreApp.menu.state_name">State Name</span></th>
                    <th><span data-translate="thepellestoreApp.menu.parent_id">Parent Id</span></th>
                    <th><span data-translate="thepellestoreApp.menu.active_flag">Active Flag</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="menu in vm.menus track by menu.id">
                    <td><a ui-sref="menu-detail({id:menu.id})">{{menu.id}}</a></td>
                    <td>{{menu.menu_name}}</td>
                    <td>{{menu.description}}</td>
                    <td>{{menu.state_name}}</td>
                    <td>{{menu.parent_id}}</td>
                    <td>{{menu.active_flag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="menu-detail({id:menu.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="menu.edit({id:menu.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="menu.delete({id:menu.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
