    <div class=" section" id="bt_footer_container">
      <div class="bt-newletter">
        <div class="footer-newletter">
          <div class="title">
            <h1>Get 10% Off Your Next Order</h1>


            <p>Join Leather and get 10% off your next order of $100 or more. You will also be the first to hear about exclusive special
            offers, competitions and those all important new arrivals.</p>
          </div>


          <div>
            <div class="newletter-content">
              <div class="frm_subscribe">
                <form id="subscribe" name="subscribe">
                  <table>
                    <tr>
                      <td>
                        <div class="boss-newletter">
                          <input class="form-control input-new" id="subscribe_email" name="subscribe_email" placeholder=
                          "Put your email address here" size="50" type="text"> <a class="btn btn-new">Subscribe</a>
                        </div>
                      </td>
                    </tr>


                    <tr style="display:none;">
                      <td><input class="form-control input-new" id="subscribe_name" name="subscribe_name" size="50" type="text" value=
                      "Put your email address here">
                      </td>
                    </tr>


                    <tr>
                      <td id="subscribe_result">
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container boss_carousel">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 not-animated" data-animate="fadeInUp" data-delay="300">
            <div class="not-animated" data-animate="fadeInUp" data-delay="300" id="carousel0">
              <div class="box-content">
                <ul class="carousel-content" id="boss_carousel0">
                  <li>
                    <a href="#"><img alt="Magento" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title="Magento"></a>
                  </li>


                  <li>
                    <a href="#"><img alt="galathemes" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title=
                    "galathemes"></a>
                  </li>


                  <li>
                    <a href="#"><img alt="WP" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title="WP"></a>
                  </li>


                  <li>
                    <a href="#"><img alt="Shopify" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title="Shopify"></a>
                  </li>


                  <li>
                    <a href="#"><img alt="Bossthemes" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title=
                    "Bossthemes"></a>
                  </li>


                  <li>
                    <a href="#"><img alt="Codespot" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title="Codespot"></a>
                  </li>


                  <li>
                    <a href="#"><img alt="Eggthemes" class="img-responsive" src="theme-resources/images/catalog/bt_leather/demo_120x39.png" title=
                    "Eggthemes"></a>
                  </li>
                </ul>
                <a title="prev" href="javascript:void(0)" class="prev nav_thumb" id="bt_prev_0" style="display: inline;"><i class="fa fa-angle-left btooltip" title="" data-original-title="Previous"></i></a> 
				<a title="next" href="javascript:void(0)" class="next nav_thumb" id="bt_next_0" style="display: inline;"><i class="fa fa-angle-right btooltip" title="" data-original-title="Next"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
      <!--
      $(window).load(function(){
	  "use strict";
      $('#boss_carousel0').carouFredSel({
        auto: false,
        responsive: true,
        width: '100%',
        prev: '#carousel_next0',
        next: '#carousel_prev0',
        swipe: {
        onTouch : true
        },
        items: {
            width: 200,
            height: 'auto',
            visible: {
            min: 1,
            max: 6
            }
        },
        scroll: {
            direction : 'left',    //  The direction of the transition.
            duration  : 1000   //  The duration of the transition.
        }
      });
      });
      //-->
      </script>

      <footer id="bt_footer">
        <div class="container">
          <div class="footer_column">
            <div class="row">
              <div class="column left col-sm-7 col-xs-12">
                <div class="column col-sm-5 col-xs-12">
                  <div class="footer-contact">
                    <h3>Contact us</h3>


                    <div class="contact-us">
                      <div class="address">
                        <i class="fa fa-map-marker"></i><span>123 fake Blue street, NY Heaven</span>
                      </div>


                      <div class="email">
                        <i class="fa fa-envelope-o"></i> <span>code@ymail.com</span>
                      </div>


                      <div class="phone">
                        <i class="fa fa-phone"></i> <span>(010) 987 654 3210</span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="column col-sm-7 col-xs-12">
                  <div class="row">
                    <div class="column col-sm-4 col-xs-12">
                      <h3>My Account</h3>


                      <ul>
                        <li>
                          <a href="pages/account.html">My Account</a>
                        </li>


                        <li>
                          <a href="index.html">Order History</a>
                        </li>


                        <li>
                          <a href="pages/contactus.html">Contact Us</a>
                        </li>


                        <li>
                          <a href="index.html">Returns</a>
                        </li>


                        <li>
                          <a href="index.html">Site Map</a>
                        </li>
                      </ul>
                    </div>


                    <div class="column col-sm-4 col-xs-12">
                      <h3>Extras</h3>


                      <ul>
                        <li>
                          <a href="pages/brand.html">Brands</a>
                        </li>


                        <li>
                          <a href="index.html">Gift Vouchers</a>
                        </li>


                        <li>
                          <a href="index.html">Affiliates</a>
                        </li>


                        <li>
                          <a href="pages/category.html">Specials</a>
                        </li>


                        <li>
                          <a href="index.html">Newsletter</a>
                        </li>
                      </ul>
                    </div>


                    <div class="column col-sm-4 col-xs-12">
                      <h3>Information</h3>


                      <ul>
                        <li>
                          <a href="pages/aboutus.html">About Us</a>
                        </li>


                        <li>
                          <a href="index.html">Privacy Policy</a>
                        </li>


                        <li>
                          <a href="pages/FAQs.html">FAQ'S</a>
                        </li>


                        <li>
                          <a href="pages/typography.html">Typography</a>
                        </li>


                        <li>
                          <a href="pages/pricing.html">Pricing</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>


              <div class="column col-sm-5 col-xs-12">
                <div class="footer-about column col-sm-cs5 col-xs-12">
                  <h3>#Leather on instagram</h3>


                  <div class="footer-image">
                    <ul>
                      <li>
                        <a href="#"><img alt="image" src="theme-resources/images/catalog/bt_leather/demo_82x82.png"></a>
                      </li>


                      <li>
                        <a href="#"><img alt="image" src="theme-resources/images/catalog/bt_leather/demo_82x82.png"></a>
                      </li>


                      <li>
                        <a href="#"><img alt="image" src="theme-resources/images/catalog/bt_leather/demo_82x82.png"></a>
                      </li>


                      <li>
                        <a href="#"><img alt="image" src="theme-resources/images/catalog/bt_leather/demo_82x82.png"></a>
                      </li>


                      <li>
                        <a href="#"><img alt="image" src="theme-resources/images/catalog/bt_leather/demo_82x82.png"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="bt-powered">
          <div class="container">
            <div class="social-payment">
              <div class="row">
                <div class="column col-sm-6 col-xs-12 pull-left">
                  <div class="payment pull-left">
                    <ul>
                      <li>
                        <a class="skrill" href="" title="Skrill"><img alt="Skrill" src="theme-resources/images/catalog/bt_leather/skrill.png"></a>
                      </li>


                      <li>
                        <a class="masterCard" href="" title="MasterCard"><img alt="MasterCard" src=
                        "theme-resources/images/catalog/bt_leather/master.png"></a>
                      </li>


                      <li>
                        <a class="visa" href="" title="Visa"><img alt="Visa" src="theme-resources/images/catalog/bt_leather/visa.png"></a>
                      </li>


                      <li>
                        <a class="merican" href="" title="Merican"><img alt="Merican" src="theme-resources/images/catalog/bt_leather/american.png"></a>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="column col-sm-6 col-xs-12 pull-right">
                  <div class="footer-social pull-right">
                    <h3>Follow us</h3>


                    <ul>
                      <li class="bt-icon-face">
                        <a title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                      </li>


                      <li class="bt-icon-twitter">
                        <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                      </li>


                      <li class="bt-icon-google">
                        <a title="Googleplus" href="#"><i class="fa fa-google-plus"></i></a>
                      </li>


                      <li class="bt-icon-youtube">
                        <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                      </li>


                      <li class="bt-icon-rss">
                        <a title="RSS" href="#"><i class="fa fa-rss"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="powered col-sm-12 col-xs-12">
                <div id="powered">
                  <p>Copyright © 2015 Leather. <span>Opencart Themes by <a href="http://www.bossthemes.com">Bossthemes.com.</a></span>
                  <span>Powered by <a href="http://www.opencart.com">Opencart</a></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    
    
    
    
    <div class="back_top" id="back_top" style="display: none;" title="Back To Top">
      <span><i class="fa fa-angle-up"></i></span>
    </div>
    <script type="text/javascript">
        $(function(){
		"use strict";
            $(window).scroll(function(){
                if($(this).scrollTop()>600){
                  $('#back_top').fadeIn();
                }
                else{
                  $('#back_top').fadeOut();
                }
            });
            $("#back_top").on("click",function (e) {
                e.preventDefault();
                $('body,html').animate({scrollTop:0},800,'swing');
            });
        });
    </script>