
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProvinceLabel" data-translate="thepellestoreApp.province.home.createOrEditLabel">Create or edit a Province</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.province.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.province.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="thepellestoreApp.province.province_name" for="field_province_name">Province Name</label>
            <input type="text" class="form-control" name="province_name" id="field_province_name"
                    ng-model="vm.province.province_name"
                    required/>
            <div ng-show="editForm.province_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.province_name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="thepellestoreApp.province.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" ng-model="vm.province.countryId" ng-options="country.id as country.id for country in vm.countries"             required>
            </select>
        </div>
        <div ng-show="editForm.country.$invalid">
            <p class="help-block"
                ng-show="editForm.country.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
